@charset "utf-8";

/* s.commpany */
.company-all {
  display: flex;
  flex-direction: column;
  gap: 20rem;
}

.company .brand-story {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  width: 58.6rem;
  width: 41.2676%;
}

.company figure {
  width: 59.7rem;
  height: 65.9rem;
  aspect-ratio: 1/1.1039;

  border-radius: 4rem;
  overflow: hidden;
}

.company figure img {
  width: 100%;
  height: 100%;
}

.company-title {
  font-weight: 700;
  font-size: 3.2rem;
  font-size: clamp(1.4rem, 2.2535vw, 3.2rem);

  color: var(--bg);
}

.company-text {
  padding-top: 2rem;
}

.company-text strong {
  font-weight: 800;
  font-size: 4rem;
  font-size: clamp(2rem, 2.817vw, 4rem);

  color: #000;
}

.company-text p {
  font-weight: 300;
  font-size: 2.4rem;
  font-size: clamp(1.4rem, 1.6901vw, 2.4rem);

  color: var(--Darck-60);
  margin-top: 0.7rem;
}

.more {
  width: 24rem;
  height: 7.2rem;
  border-radius: 5rem;
  background: var(--bg);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  margin-top: 3.6rem;

  font-weight: 700;
  font-size: 2.4rem;
  font-size: clamp(1.4rem, 1.0416vw, 2rem);

  color: #fff;
}

.more:hover {
  background: #000;
  color: #fff;
}

.company .brand-story:nth-child(even) {
  flex-direction: row-reverse;

  /* even: 짝수들만 포함 시키는것 */
}

/* 모바일 000000000000000000000000000000000000000000000000000000000000*/
@media screen and (max-width: 1400px) {
  /* company */
  .content {
    width: 44.2rem;
    width: 47.8355%;
  }

  .more {
    width: 18.4rem;
    width: 41.8182%;
    height: 6.3rem;
  }

  .more::after {
    width: 2.6rem;
    height: 2.6rem;
  }

  .company figure {
    width: 38.8rem;
    width: 41.9913%;

    height: 42.9rem;
    border-radius: 3rem;
    overflow: hidden;
  }
  /* company */
}

/* 모바일 버전  000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
@media screen and (max-width: 950px) {
  /* company */
  .company .brand-story,
  .company .brand-story:nth-child(even) {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .company-text {
    padding: 0.5rem 0 0.5rem;
  }

  .content {
    width: 39rem;
    text-align: center;
    margin-top: 0;
  }

  .company figure {
    width: 39rem;
    height: 22.8rem;
    margin-top: 1rem;
  }

  .company figure img {
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    filter: brightness(0.4);
  }

  .more {
    width: 17.5rem;
    height: 5.1rem;
    position: absolute;
    bottom: 3rem;
    margin: 0 11rem 0;

    gap: 1.5rem;
    z-index: 1;
  }

  .more::after {
    width: 1.7rem;
    height: 1.7rem;
  }
  /* company */
}
